/* *CSS Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *Grid Container Layout Styles */

.grid_container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.grid_container>* {
    border: 1px solid black;
    background-color: rgba(116, 160, 249, 0.626)
}

/* *SideBar Styles */

.sidebar_title {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar li {
    list-style-type: none;
    padding: 15px;
}

.sidebar {
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 0.2fr repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}

.header {}

.main_content {
    grid-column: 2 / 3;

}